html{
  height: 100%;
}

body {
 font-family: 'Roboto', sans-serif;
 position: relative;
}

header, .inner {
  max-width: 940px;
  margin:auto;

}

.card div.thumbnail h3 {
  margin:0;
}

.card div.thumbnail {
  background-color:  #EEEEEE;
  margin: 10px;
  border:none;
}

 div.caption p:nth-child(n+3){
  font-size: 16px;
  margin:0;
}

@media only screen and (min-width:550px) {
  #addressToSearch {
    width: 500px;
  }
}



h3.masthead-brand {
  float: left;
  margin-bottom: 30px;
}

a.nav-link.active {
  float: right;


}

.container, .row {
  text-align: center;
}

ul {
  padding: 0;

}

ul li {
  list-style: none !important;
}




.row {
  text-align: center;
}

#site {
  margin-left: 30px;
  margin-top: 50px;
}

.nav a {
  margin: 5px 10px;
  font-size: 20px;
}

main.jumbotron {
  text-align: center;
  margin-bottom: 0;
  padding: 5px 6px;
  max-width: 980px;
  background-color: #80a9bc;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
}

main h4 {
  margin: 10px 0;
}

form {
  margin: 20px;
}

input {
  margin: 0 auto;
}

#toPhoneNumber {
  width: 300px;
}

#message {
  width: 100%;
  background-color: pink;
  position: absolute;
  z-index: 10;
}

#searchError {
  width: 100%;
  background-color: pink;
  position: absolute;
  z-index: 10;
}


#searchError p {
 margin: 0;
}

img {
  width: 100px;
  height: 100px;
}

#phoneForm, #addressForm {}

footer .inner {
  display: none;
}

@media only screen and (min-width:550px) {
  #addressToSearch {
    width: 500px;
  }
}


div#body.container.card {
  max-width: 750px;
  margin:  15px auto;
  background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
}
